*.agdai
agda/io/builtin
agda/io/std-lib
*.aux
*.bbl
*.bcf
*.blg
_build/
*.cabal
dist/
dist-newstyle/
.ghc.environment.*
*.lock
*.log
MAlonzo/
*.mk
*.o
openbsd-pledge-c/pledge
openbsd-pledge-go/openbsd-pledge-go
*.out
*.pdf
*.run.xml
.stack-work/
*.toc
