*.agdai
*.aux
*.bbl
*.bcf
*.blg
*.lock
*.log
*.o
*.out
*.pdf
*.run.xml
*.toc
.ghc.environment.*
.stack-work/
MAlonzo/
_build/
build/
agda-coinductive-io/builtin
agda-coinductive-io/std-lib
dist-newstyle/
dist/
openbsd-pledge-c/pledge
openbsd-pledge-go/openbsd-pledge-go
